@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

.collection {
  background-color: #111;
  color: #f1f1f1;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Dela Gothic One', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 20px;
  display: flex;
  justify-content: space-between
}
.collection > h4 {
    text-align: left;
}
.collection > div {
    text-align: right;
    padding-right: 20px;
}

.action-btns {
    margin-bottom: 10px;
    height: 35px;
}
.action-btns > div:first-child  {
    text-align: left
}
.action-btns > div:first-child > a {
    margin-right: 5px;
}
.action-btns > p {
    margin: auto 0px;
}

.btn-action {
    background-color: #86898f;
    color: #111
}

.password-card {
    margin: auto;
    background-color: #f1f1f1;
    border-radius: 20px;
    font-family: 'Aldrich', Tahoma, Geneva, Verdana, sans-serif;
}

.time-added {
    margin-top: 15px;
}

.header {
    margin-top: 65px;
    justify-content: space-between;
}
.header > h1 {
    text-align: center;
}
.header > div {
    margin-top: 10px;
    text-align: center;
}
