{% extends 'base_with_form.html' %}

{% block title %}
Активация ключа шифрования
{% endblock %}

{% block form_header %}
<h3 class="font-weight-light my-4 text-center">Активируйте ключ</h3>
{% endblock %}
{% block form_errors %}
{% if bad_key %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
            <strong>Неверный ключ шифрования</strong>
        </div>
    </div>
{% endif %}
{% endblock %}
{% block form_button %}
<button type="submit" class="btn btn-primary doublemarginleft">Активировать</button>
{% endblock %}