{% extends 'base_with_form.html' %}

{% block css_files %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/forms.min.css">
{% endblock %}

{% block title %}
Вход
{% endblock %}

{% block form_header %}
<h3 class="font-weight-light my-4 text-center">Вход в eXinakai!</h3>
{% endblock %}
{% block error_message %}
Неверная комбинация.
{% endblock %}
{% block before_button %}
<a href="{% url 'accounts:password-reset' %}" class="d-ml">Забыли пароль?</a>
<br>
{% endblock %}
{% block button %}
Войти
{% endblock %}
