{% extends 'base.html' %}

{% block title %}
Вход
{% endblock %}

{% block body %}
{% if action %}
    <br>
    <div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end" style="width: 45%;">
    {% if action == 'password-reset-done' %}
        <h5 class="indent">Ссылка для сброса пароля отправлена на почту.</h5>
    {% elif action == 'password-reset-complete' %}
        <h5 class="indent">Пароль изменен успешно.</h5>
    {% endif %}
    </div>
    <br>
{% endif %}

<h1 class="indent">Вход в eXinakai!</h1>
{% if bad_details %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
            <strong>Неверная комбинация.</strong>
        </div>
    </div>
{% endif %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <h3 class="doubleindent">{{ field.label }}:</h3>
        <span class="doublemarginleft">{{field}}</span>
    {% endfor %}
    <a href="{% url 'accounts:password-reset' %}" style="margin-left: 5px">Забыли пароль?</a>
    <br><br>
    <button type="submit" class="btn btn-primary marginleft">Войти</button>
</form>
{% endblock %}
