{% extends 'base_with_form.html' %}
{% load static %}

{% block scripts %}
<script src="{{MEDIA_URL}}scripts/password-reset.js" defer></script>
{% endblock %}

{% block title %}
Сброс пароля
{% endblock %}

{% block form_header %}
<span id="domain" data-key="{{request.get_host}}" data-method="{{request.is_secure}}" data-href-template="{{api_reset_url}}"></span>
<h3 class="font-weight-light my-4 text-center">Сброс пароля!</h3>
{% endblock %}
{% block form_button %}
<button type="submit" class="btn btn-primary doublemarginleft" id="reset-btn">Сбросить</button>
<div class="container marginleft" id="loading"></div>
{% endblock %}
