{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block body %}
<div class="form-content my-3 p-3">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="card shadow-lg border-0 rounded-lg mt-0 mb-3">
                    <div class="card-header justify-content-center">
                      <h3 class="font-weight-light my-4 text-center">Измените Ваш пароль</h3>
                    </div>
                    {% if form.errors %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <div id="form_errors">
                                {% for key, value in form.errors.items %}
                                    <strong>{{ value }}</strong>
                                {% endfor %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            {% for i in form %}
                            <div class="doubleindent mb-3 row">
                              <label class="col-form-label">{{i.label}}:</label>
                                <div class="col-sm-10">
                                  {{i}}
                                </div>
                            </div>
                            {% endfor %}
                            <button type="submit" class="btn btn-primary doublemarginleft">Сохранить</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
