{% extends 'base.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/all.passwords.css' %}">
<link rel="stylesheet" href="{% static 'css/forms.min.css' %}">
<link rel="stylesheet" href="{% static 'css/settings.css' %}">
{% endblock %}

{% block title %}
Настройки для {{ request.user.username }}
{% endblock %}

{% block body %}
{% if bad_data %}
<div>
    <div class="container border border-danger action update">
        Неверные данные.
    </div>
</div>
{% elif action %}
<div>
    <div class="container border border-info action update">
        <h5>
            {% if action == 'settings-updated' %}
            Настройки успешно обновлены.
            {% endif %}
        </h5>
    </div>
</div>
{% endif %}
<h2 class="i">Настройки <strong>{{ request.user.username }}</strong>:</h2>
<div class="d-flex">
    <img src="{{MEDIA_URL}}{{user_avatar}}?{{any_random_integer}}" alt="Avatar" width="320" height="320" class="ml">
    <br><br>
    <div>
        <div class="d-i mb-3 row">
          <label>Имя пользователя:</label>
            <div class="col-sm-10">
              <input type="text" disabled value="{{ request.user.username }}">
            </div>
        </div>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for i in form %}
                <div class="d-i mb-3 row">
                  <label >{{i.label}}:</label>
                    <div class="col-sm-10">
                      {{i}}
                    </div>
                </div>
            {% endfor %}
            <div class="d-flex">
                <button type="submit" class="btn btn-default d-ml">Сохранить</button>
                <button onclick="location.href='{% url 'accounts:password-change' %}'" class="btn btn-default s-ml" type="button">Изменить пароль</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
