{% extends 'base_with_form.html' %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/forms.min.css' %}">
{% endblock %}

{% block title %}
Двухфакторная аутентификация
{% endblock %}

{% block form_header %}
<h3 class="font-weight-light my-4 text-center">Двухфакторная аутентификация</h3>
{% endblock %}
{% block error_message %}
Неверный код.
{% endblock %}
{% block form_afterfield %}
<div><code>[{{i.help_text}}]</code></div>
{% endblock %}
{% block button %}
Аутентификация
{% endblock %}
