{% extends 'base_with_form.html' %}

{% block css_files %}
<link rel="stylesheet" href="{{MEDIA_URL}}css/forms.min.css">
{% endblock %}

{% block title %}
Двухфакторная аутентификация
{% endblock %}

{% block form_header %}
<h3 class="font-weight-light my-4 text-center">Двухфакторная аутентификация</h3>
{% endblock %}
{% block error_message %}
Неверный код.
{% endblock %}
{% block form_afterfield %}
<code style="font-size: x-small;">[{{i.help_text}}]</code>
{% endblock %}
{% block button %}
Аутентификация
{% endblock %}
