{% extends 'base.html' %}

{% block title %}
Добавление пароля в хранилище
{% endblock %}

{% block body %}
<h1 class="indent">Добавление пароля в хранилище</h1>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        <h3 class="doubleindent">{{ field.label }}:</h3>
        <span class="doublemarginleft">{{field}}</span>
        <br>
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-primary marginleft">Сохранить</button>
</form>
{% endblock %}
