{% extends 'base.html' %}
{% load tz %}

{% block title %}
Мои пароли
{% endblock %}

{% block body %}
<h1 class="indent">Список Ваших паролей</h1>
{% if action == 'add-password-success' %}
<div class="container border border-info rounded-3 p-4" style="margin-left: 40px;">
    <h4>
        Пароль добавлен успешно.
    </h4>
</div>
{% endif %}
<br>
{% for password in passwords %}
    <div class="container border border-success rounded-3 p-4" style="margin-left: 40px;">
        <h5>
            <div style="display: flex; justify-content: space-between">
                <div style="display: flex; flex-direction: column;">
                    <p style="text-align: left">Примета: </p>
                </div>
                <div style="display: flex; flex-direction: column;">
                    <p style="text-align: right; padding-right: 20px;">#{{forloop.revcounter}}</p>
                </div>
            </div>
        </h5>
        <h4>{{password.password.note}}</h4><br>
        <h5>
            Пароль: <h6><input disabled type="password" value="{{password.decrypted_password}}" id="password{{forloop.counter0}}">
            <input class="marginleft" type="checkbox" onclick="password{{forloop.counter0}}()"><span style="margin-left:5px">Показать пароль</span></h6>
        </h5><br>
        <h6>
            Время добавления: {{password.password.time_added|timezone:request.user.timezone|date:"H:i, d/m/Y"}}
        </h6>
    </div>
    <script>
    function password{{forloop.counter0}}() {
      var x = document.getElementById("password{{forloop.counter0}}");
      if (x.type === "password") {
        x.type = "text";
      } else {
        x.type = "password";
      }
    }
    </script>
    <br>
{% endfor %}
{% endblock %}
