{% extends 'base.html' %}
{% load tz %}

{% block title %}
Мои пароли
{% endblock %}

{% block body %}
<style>
    html, body {
      overflow-x: hidden;
      margin:0px;
      padding:0px;
    }
    .dropdowncollection {
      background-color: #7e32d4;
      color: white;
      padding: 16px;
      font-size: 20px;
      font-weight: bolder;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      border: none;
    }
</style>
<div style="display: flex; justify-content: space-between">
    <div style="display: flex; flex-direction: column;">
        <h1 class="indent">Список Ваших паролей</h1>
    </div>
    <div style="display: flex; flex-direction: column;">
        <nav class="navbar bg-body-tertiary container" style="text-align: right; margin-left: 40px;">
          <div class="container-fluid">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск" name="search" data-bs-theme="dark" value="{% firstof search '' %}">
              <button class="btn btn-success" type="submit">Search</button>
            </form>
          </div>
        </nav>
    </div>
</div>
<hr>

<a class="btn btn-primary" style="float: right; margin-right: 12px" href="{% url 'exinakai:add-collection' %}">Добавить коллекцию</a>
<br>

{% if action %}
<br>
<div class="container border border-info rounded-2 p-3" style="margin-left: 40px;">
    <h5>
        {% if action == 'add-password-success' %}
        Пароль добавлен успешно.
        {% elif action == 'delete-password-success' %}
        Пароль удален успешно.
        {% elif action == 'add-collection-success' %}
        Коллекция добавлена успешно.
        {% elif action == 'delete-collection-success' %}
        Коллекция удаленa успешно.
        {% elif action == 'change-password-collection-success' %}
        Коллекция пароля изменена успешно.
        {% endif %}
    </h5>
</div>
{% endif %}
{% if collections %}
    <br>
    {% for collection in collections %}
        <div class="container border border-success rounded-2 p-3 dropdowncollection" style="margin-left: 40px;">
                <div style="display: flex; justify-content: space-between">
                    <div style="display: flex; flex-direction: column;">
                        <h4 style="text-align: left">
                        {{collection.collection.name}}
                        </h4>
                    </div>
                    {% if forloop.counter0 > 0 %}
                    <div class="d-flex justify-content-between" style="flex-direction: column;">
                        <span style="text-align: right; padding-right: 20px;">
                            <a class="btn btn-danger" href="{% url 'exinakai:delete-collection' collection.collection.id %}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                  <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                            </a>
                        </span>
                    </div>
                    {% endif %}
                </div>
        </div>
        <br>
        {% for password in collection.decrypted_passwords %}
        <div class="container border border-success rounded-2 p-3" style="margin-left: 40px;">
            <h5>
                <div style="display: flex; justify-content: space-between">
                    <div style="display: flex; flex-direction: column;">
                        <p style="text-align: left">
                        <a class="btn btn-danger" href="{% url 'exinakai:delete-password' password.password.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                            </svg>
                        </a>
                        <a class="btn btn-success" href="{% url 'exinakai:change-password-collection' password.password.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-folder-symlink" viewBox="0 0 16 16">
                              <path d="m11.798 8.271-3.182 1.97c-.27.166-.616-.036-.616-.372V9.1s-2.571-.3-4 2.4c.571-4.8 3.143-4.8 4-4.8v-.769c0-.336.346-.538.616-.371l3.182 1.969c.27.166.27.576 0 .742"/>
                              <path d="m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m.694 2.09A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09l-.636 7a1 1 0 0 1-.996.91H2.826a1 1 0 0 1-.995-.91zM6.172 2a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z"/>
                            </svg>
                        </a>
                        </p>
                    </div>
                    <div class="d-flex justify-content-between" style="flex-direction: column;">
                        <p style="text-align: right; padding-right: 20px;">
                            #{{forloop.revcounter}}
                        </p>
                    </div>
                </div>
            </h5>
            <h4>{{password.password.note}}</h4>
            <h6>
                <input disabled type="password" value="{{password.decrypted_password}}" id="password{{password.password.pk}}">
                <input class="marginleft" type="checkbox" onclick="password{{password.password.pk}}()"><span style="margin-left:5px">Показать пароль</span>
            </h6>
            <br>
            <h6>
                Время добавления: {{password.password.time_added|timezone:request.user.timezone|date:"H:i, d/m/Y"}}
            </h6>
        </div>
        <script>
        function password{{password.password.pk}}() {
          var x = document.getElementById("password{{password.password.pk}}");
          if (x.type === "password") {
            x.type = "text";
          } else {
            x.type = "password";
          }
        }
        </script>
        <br>
        {% endfor %}
    {% endfor %}
{% else %}
<h3 class="doubleindent">
    Пароли не найдены.
</h3>
{% endif %}
{% endblock %}