{% extends 'base.html' %}
{% load tz %}
{% load static %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'css/all.passwords.css' %}">
{% endblock %}

{% block scripts %}
<script src="{% static 'scripts/collection-dropdown.js' %}" defer></script>
{% endblock %}

{% block title %}
Мои пароли
{% endblock %}

{% block body %}
<div class="header">
    <h1>Список Ваших паролей</h1>
</div>
<div class="d-flex container">
    <a class="btn btn-default" href="{% url 'exinakai:add-collection' %}">Добавить коллекцию</a>
    <div class="d-flex passwords-search">
        <nav class="container" id="passwords-search">
          <div class="container-fluid">
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Поиск" aria-label="Поиск" name="search" data-bs-theme="dark" value="{% firstof search '' %}">
              <button class="btn btn-success" type="submit">Search</button>
            </form>
          </div>
        </nav>
    </div>
</div>

<hr>

{% if action %}
<div>
    <div class="container border border-info action">
    <h5>
        {% if action == 'add-password-success' %}
        Пароль добавлен успешно.
        {% elif action == 'delete-password-success' %}
        Пароль удален успешно.
        {% elif action == 'add-collection-success' %}
        Коллекция добавлена успешно.
        {% elif action == 'delete-collection-success' %}
        Коллекция удаленa успешно.
        {% elif action == 'change-password-collection-success' %}
        Коллекция пароля изменена успешно.
        {% elif action == 'update-password-success' %}
        Пароль обновлен успешно.
        {% endif %}
    </h5>
    </div>
    <br>
</div>
{% endif %}
{% for collection in collections %}
{% if collection.count_decrypted_passwords > 0 %}
    <div class="main-collection" data-key="{{collection.collection.pk}}">
        <div class="container p-3 collection">
            <h4>
            {{collection.collection.name}}
            </h4>
            {% if forloop.counter0 > 0 %}
                <div class="d-flex">
                    <a class="btn btn-action" href="{% url 'exinakai:delete-collection' collection.collection.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash" viewBox="0 0 15 15">
                          <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                          <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                        </svg>
                    </a>
                    <div class="dropdown-button" data-key="{{collection.collection.pk}}"></div>
                </div>
            {% else %}
                <div>
                    <div class="dropdown-button" data-key="{{collection.collection.pk}}"></div>
                </div>
            {% endif %}
        </div>
        <br>
        <div class="collection-passwords">
            {% for password in collection.decrypted_passwords %}
            <div class="container rounded-2 p-3 password-card" id="password-card{password.password.pk}">
                <div class="d-flex action-btns">
                    <div class="d-flex">
                        <a class="btn btn-action" href="{% url 'exinakai:delete-password' password.password.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                            </svg>
                        </a>
                        <a class="btn btn-action" href="{% url 'exinakai:update-password' password.password.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                              <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"/>
                              <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
                            </svg>
                        </a>
                        <a class="btn btn-action" href="{% url 'exinakai:change-password-collection' password.password.id %}">
                            <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" fill="currentColor" class="bi bi-folder-symlink" viewBox="0 0 16 16">
                              <path d="m11.798 8.271-3.182 1.97c-.27.166-.616-.036-.616-.372V9.1s-2.571-.3-4 2.4c.571-4.8 3.143-4.8 4-4.8v-.769c0-.336.346-.538.616-.371l3.182 1.969c.27.166.27.576 0 .742"/>
                              <path d="m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14h10.348a2 2 0 0 0 1.991-1.819l.637-7A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m.694 2.09A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09l-.636 7a1 1 0 0 1-.996.91H2.826a1 1 0 0 1-.995-.91zM6.172 2a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z"/>
                            </svg>
                        </a>
                    </div>
                    <p>
                        #{{forloop.revcounter}}
                    </p>
                </div>
                <h4>{{password.password.note}}</h4>
                <h6>
                    <input disabled type="password" value="{{password.decrypted_password}}" id="password{{password.password.pk}}">
                    <input class="s-ml" type="checkbox" onclick="password{{password.password.pk}}()"><span class="m-ml">Показать пароль</span>
                </h6>
                <div class="time-added">
                    <h6>
                        Время добавления: {{password.password.time_added|timezone:request.user.timezone|date:"H:i, d/m/Y"}}
                    </h6>
                </div>
            </div>
            <script>
            function password{{password.password.pk}}() {
              var x = document.getElementById("password{{password.password.pk}}");
              if (x.type === "password") {
                x.type = "text";
              } else {
                x.type = "password";
              }
            }
            </script>
            <br>
            {% endfor %}
        </div>
    </div>
{% endif %}
{% endfor %}
{% endblock %}