{% extends 'base.html' %}

{% block title %}
+~ eXinakai ~+
{% endblock %}

{% block body %}
{% if action %}
    <br>
    <div class="p-3 bg-info bg-opacity-10 border border-info border-start-0 rounded-end" style="width: 45%;">
        <h5 class="indent">
            {% if action == "activate-cryptographic-key-success" and request.user.is_authenticated %}
                {{request.user}}, Вы успешно активировали ключ шифрования.
            {% elif action == "logout" %}
                Вы успешно вышли из системы.
            {% elif action == "settings-updated" and request.user.is_authenticated %}
                Настройки успешно обновлены.
            {% elif action == "password-change-done" and request.user.is_authenticated %}
                Пароль изменен успешно.
            {% elif action == 'password-reset-done' %}
                Ссылка для сброса пароля отправлена на почту.
            {% elif action == 'password-reset-complete' %}
                Пароль изменен успешно.
            {% endif %}
        </h5>
    </div>
{% endif %}
<br>
<h1 class="indent">Добро пожаловать в eXinakai!</h1>
{% endblock %}
