{% extends 'base_with_form.html' %}

{% block title %}
Обновление пароля
{% endblock %}

{% block form_header %}
<h4 class="font-weight-light my-4 text-center">Обновление пароля</h4>
{% endblock %}
{% block form_errors %}
{% if error %}
    <div class="alert alert-danger alert-dismissible" role="alert">
        <div id="form_errors">
            <strong>Некоторые поля заполнены неверно.</strong>
        </div>
    </div>
{% endif %}
{% endblock %}
{% block form_button %}
<button type="submit" class="btn btn-primary doublemarginleft">Сохранить</button>
{% endblock %}
