{% load users_tags %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{MEDIA_URL}}css/bootstrap.min.css">
    <link rel="stylesheet" href="{{MEDIA_URL}}css/main.css">
    {% block css_files %}
    {% endblock %}
    <script src="{{MEDIA_URL}}scripts/main.js" defer></script>
    {% block scripts %}
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" type="images/jpg" href="{{MEDIA_URL}}images/nanana.jpg" />
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top" id="nav">
  <div class="container-fluid">
    <a class="navbar-brand" aria-current="page" href="{% url 'exinakai:index' %}">
        <img src="{{MEDIA_URL}}images/nanana.jpg" alt="madxlyeternity" id="logo"> <!-- 5k pp -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="auth-stuff">
          {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'exinakai:add-password' %}">Добавить пароль</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'exinakai:generate-password' %}">Сгенерировать пароль</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'exinakai:all-passwords' %}">Мои пароли</a>
            </li>
          {% endif %}
      </ul>
      {% if not request.user.is_authenticated %}
      <div class="d-flex">
        <form method="get" action="{% url 'accounts:login' %}">
          <button class="btn btn-outline-default" type="submit">Войти</button>
        </form>
        <form method="get" action="{% url 'accounts:register' %}" class="s-ml">
          <button class="btn btn-outline-default" type="submit">Зарегестрироваться</button>
        </form>
      </div>
      {% else %}
        <div class="d-flex">
            <a href="{% url 'accounts:settings' %}">
              <img src="{{MEDIA_URL}}{{request.user|get_crop_user_avatar}}?{{any_random_integer}}" alt="Avatar" id="nav-avatar">
            </a>
            <form method="get" action="{% url 'accounts:logout' %}" class="s-ml">
              <button class="btn btn-outline-default" type="submit">Выйти</button>
            </form>
        </div>
      {% endif %}
    </div>
  </div>
</nav>
<div class="content">
    {% block body %}
    {% endblock %}
</div>
</body>
</html>
